{% extends "master.html" %}

{% block title %}{{Home}}{% endblock %}

{% block content %}
<br><br>

<figure class="max-w-screen-md mx-auto text-center">
    <blockquote>
        <p class="text-2xl italic font-medium text-gray-900 dark:text-white">"The loan is the process of lending money from one individual or organization to another individual or organization. Loans are of different types according to needs and denominations. Loan issuance is one of the riskiest functions for any bank and financial institution because of the creditworthiness of the customer. Loan eligibility prediction is the estimation of the tendency of the customer whether they are eligible to take the loan as per their status and properties."</p>
    </blockquote>
    <br>
    <blockquote>
        <p class="text-2xl italic font-medium text-gray-900 dark:text-white">"In the past few years, there has been huge growth in the number of people taking a loan from financial institutions or banks. Financial institutions take much information such as income, properties, and salary to be on the safe side. Customers should meet all the requirements and regulations from the institutions to take the loan."</p>
    </blockquote>
</figure>





   







{% endblock %}
       
                    
